@font-face {
  font-family: IBMPlexSans;
  src: url(../public/fonts/IBMPlexSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Kalam;
  src: url(../public/fonts/Kalam.ttf) format("truetype");
}

@font-face {
  font-family: IBMPlexSansBold;
  src: url(../public/fonts/IBMPlexSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../public/fonts/Poppins-Bold.ttf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
